body {
    font-family: 'Silkscreen', display;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}
   
h1 {
    font-size: 2.5em;
}
  
h2 {
    font-size: 2em;
}
  
h3 {
    font-size: 1.625em;
}
  
p {
    font-size: 1.25em;
}
  
li {
    font-size: 1.25em;
}

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #a2aaad;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25em;
}